<h2>Tasks list</h2>
<mat-button-toggle-group name="statusFilter" aria-label="Filter by status" value="all">
	<mat-button-toggle value="all" (click)="filterTasks('all')">All</mat-button-toggle>
	<mat-button-toggle value="pending" (click)="filterTasks('PENDING')">Pending</mat-button-toggle>
	<mat-button-toggle value="in_progress" (click)="filterTasks('IN_PROGRESS')">In progress</mat-button-toggle>
	<mat-button-toggle value="completed" (click)="filterTasks('COMPLETED')">Completed</mat-button-toggle>
</mat-button-toggle-group>
<button mat-raised-button color="primary" [ngClass]="['new-button']" routerLink="/newTask">New task</button>

<mat-card *ngFor="let task of tasks" [ngClass]="['task-card']">
	<table [ngClass]="['task-card-table']">
		<tr>
			<td [ngClass]="['status-column']">
				<p [ngClass]="['task-id']">Task {{task.id}}</p>
				<mat-form-field appearance="fill">
  					<mat-label>Status</mat-label>
  					<mat-select [(value)]="task.status">
    					<mat-option *ngFor="let st of taskStatus" [value]="st.value">
      						{{st.name}}
    					</mat-option>
  					</mat-select>
				</mat-form-field>
			</td>
			<td [ngClass]="['description-column']">
				<mat-card-title>{{task.title}}</mat-card-title>
				<p>{{task.description}}</p>
			</td>
			<td [ngClass]="['buttons-column']">
				<button mat-icon-button color="primary" aria-label="Delete">
					<mat-icon>delete</mat-icon>
				</button>
			</td>
		</tr>
	</table>
</mat-card>
